/* Cart.css */

.cart-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyBD2HDwaL4lvC7KCIhWmVuOhKi_wp0M3Zcw&usqp=CAU");
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .topic {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .paragraph {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .items {
    list-style: none;
    padding: 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .item:hover {
    transform: translateY(-5px);
  }
  
  .item span {
    flex-grow: 1;
    text-align: left;
  }
  
  .button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #c82333;
  }
  
  .buy-button {
    background-color: #28a745;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #218838;
  }