@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.container {
    /* max-width: 800px; */
    margin: auto;
    padding: 40px;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyBD2HDwaL4lvC7KCIhWmVuOhKi_wp0M3Zcw&usqp=CAU");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
  }
  
  .header {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    justify-content: space-around;
  }
  
  .list li {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .list li:hover {
    transform: translateY(-5px);
  }
  
  .inner-header {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
  }
  
  .price {
    font-size: 18px;
    color: #ff3604;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
  }
  
  .quantity {
    margin-top: 20px;
    font-size: 16px;
    color: magenta;
  }
  
  .quantity input {
    width: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 10px;
  }
  
  .button {
    background-color: #2196f3;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #1565c0;
  }
  .span{
    color: midnightblue;
  }
  .Parag {
    text-align: justify;
    color: #000;
  }
  
  .highlight {
    color: hsl(66, 96%, 49%); /* Apply a different color to the highlighted word */
  }
  .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: rgba(248, 248, 248, 0.8);
    max-width: 900px;
    max-height: 300px; /* Adjusted maximum height */
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .name{
    color: rgba(21, 255, 0, 0.938);
  }